.messageInput {
  border-radius: 14px;
  background: linear-gradient(145deg, #191919, #1e1e1e);
  box-shadow: 17px 17px 30px #131313, -17px -17px 30px #252525;
}

.cs-message__content {
  padding: 0;
}

@media (max-width: 768px) {
  .messageInput {
    width: 100%;
    border-radius: 0;
  }
}

.ThumbIcons {
  cursor: pointer;
  margin-right: 15px;
  margin-top: 0.5rem;
  opacity: 0.3;
  /* color: green; */
}
